<!-- Full Width Column -->
<div class="content-wrapper" style="overflow:hidden;height:80%">
  <div class="container">
    <!-- Main content -->
    <section class="content">                          
          <div class="row">
            <div class="col-sm-9">
              <div class="box box-warning direct-chat direct-chat-warning">
              <div class="box-header with-border">
                <h3 class="box-title">{{'Chat-Room'|translate}}: {{roomCode}}</h3>
                <div class="box-tools pull-right">
                  <!-- Any File Select Button -->
                  <button class="btn btn-box-tool mobile" data-widget="" ngf-select ng-model="Files"><i class="glyphicon glyphicon-paperclip"></i></button>
                  <!-- onlime member list mobile -->
                  <button class="btn btn-box-tool mobile toggle-contact-icon" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Contacts" ng-click="toggleCustom()"><i class="fa fa-comments"></i></button>
                </div>
              </div><!-- /.box-header -->
              <div id="divBox"  class="box-body" > <!-- schroll-bottom="messeges">-->
                <!-- 历史消息加载区域 -->
                <div class="history-loader" ng-show="hasMoreHistory || isLoadingHistory">
                    <button 
                        class="btn btn-default btn-sm" 
                        ng-click="loadHistory()" 
                        ng-disabled="isLoadingHistory">
                        <span ng-show="isLoadingHistory">
                            <i class="fa fa-spinner fa-spin"></i> 加载中...
                        </span>
                        <span ng-show="!isLoadingHistory">
                            <i class="fa fa-history"></i> 加载历史记录
                        </span>
                    </button>
                    <span ng-show="!hasMoreHistory" class="no-more-history">
                        暂无更多历史记录
                    </span>
                </div>
                <!-- Conversations are loaded here -->
                <div  > <!--  schroll-bottom="messeges">-->
                  <!-- Message. Default to the left -->
                  <div ng-repeat="messege in messeges" ng-class="{'direct-chat-msg' : true, 'right' : messege.ownMsg, 'wordwrap' : true}" >
					
					
					<div ng-class="[{'user-in' : messege.esin}, {'user-out' : !messege.esin}, 'text-center']" ng-show="messege.userLogin">
						<span><b>{{ messege.username }}</b></span>
						<span>{{ messege.msg }}</span>
						<span>{{ messege.msgTime }}</span>
					</div>
					
					
					
					
                    <div ng-hide="messege.userLogin" class='direct-chat-info clearfix'>
                      <span class='direct-chat-name pull-left'>{{ messege.username }}</span>
                      <span class='direct-chat-timestamp pull-right'>{{ messege.msgTime }}</span>
                    </div><!-- /.direct-chat-info -->
                    <img ng-hide="messege.userLogin" class="direct-chat-img" ng-src="{{messege.userAvatar}}" alt="message user image" /><!-- /.direct-chat-img -->
                    <div class="message-actions" ng-hide="messege.userLogin">
                        <button class="btn btn-xs btn-default" ng-click="startReply(messege)" title="回复">
                            <i class="fa fa-reply"></i>
                        </button>
                    </div>
                    <div ng-hide="messege.userLogin" ng-class="{'direct-chat-text': true, 'text-right': messege.ownMsg, 'burn-message': messege.isBurnAfterReading}">
                      <div class="message-with-quote" ng-show="messege.quote">
                          <div class="quote-block">
                              <div class="quote-author">{{ messege.quote.username }}:</div>
                              <div class="quote-text">{{ messege.quote.content | limitTo:100 }}{{ messege.quote.content.length > 100 ? '...' : '' }}</div>
                          </div>
                      </div>
                      <div ng-hide="hasFile">
						<div ng-show="messege.isImageMSG"><img src="{{ messege.msg }}" alt="{{ messege.msg }}" style='width:100%;'></div>
						<div ng-show="messege.isMeme"><img src="{{ messege.msg }}" alt="{{ messege.msg }}" style='width:20%;'></div>
						<div ng-show="!messege.isMeme" ng-bind-html="renderMessageContent(messege)"></div>
					  </div>
                      <div ng-show="messege.isBurnAfterReading" class="burn-indicator">
                        <span class="burn-icon">🔥</span>
                        <span ng-show="burnMessages[messege.messageId]" class="burn-timer">{{ burnMessages[messege.messageId].remaining }}s</span>
                        <div ng-show="burnMessages[messege.messageId]" class="burn-progress" style="width: {{ (burnMessages[messege.messageId].remaining / burnMessages[messege.messageId].total) * 100 }}%"></div>
                      </div>
                      <!-- {{ messege.sendfile }} Media File Messeges -->
                      <div class="item" ng-show="messege.hasFile">
                          <div class="attachment clearfix">
                          <!-- Image File Open -->
                            <div ng-class="{'filename' : true,'chat-msg' : true}" ng-show="messege.isImageFile">
                              <div>
                                <div ng-class="{'attachment-icon-right' : messege.ownMsg, 'attachment-icon-left' : !messege.ownMsg}">
                                  <a href ng-click="openClickImage(messege)" ng-show="messege.showme" >
                              <img id="{{messege.dwid}}" width="50" height="50" ng-src="{{messege.serverfilename}}" alt="Open Image"></a> <!-- Open Icon -->
                              
                              <a ng-href="{{messege.serverfilename}}" data-lightbox="{{messege.dwid}}" data-title="{{messege.filename}}" ng-hide="messege.showme">
                                <img ng-class="{'multiple-borders-white' : messege.ownMsg,'multiple-borders-black' : !messege.ownMsg}" id="{{messege.dwid+1}}" width="90" height="70" ng-src="{{messege.serverfilename}}" alt="Image File"> <!-- Image -->
                              </a>
                                </div>
                                <div ng-class="{'attachment-msg-right' : messege.ownMsg, 'attachment-msg-left' : !messege.ownMsg}" ng-hide="messege.showme">
                                  <span class="decs-text"><b>File :</b> {{ messege.filename}}</span>
                                  <span class="decs-text"><b>Size :</b> {{messege.size}}</span>
                                  <span class="decs-text">
                                    <a id ="{{messege.dwid}}" class="decs-text" ng-show="messege.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href ><i class="fa fa-download dw-icon"></i> <i>Click here to download</i></a>
                                  <a id ="{{messege.dwid}}" class="decs-text" ng-show="!messege.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href ><i>Click here to download</i> <i class="fa fa-download dw-icon"></i></a>
                                  <a id ="{{messege.dwid}}A" class="decs-text hidden-link" href="{{ messege.serverfilename }}"  download="{{ messege.serverfilename }}"><i>Hidden Link</i></a>  
                                  </span>
                                </div>
                                <div ng-class="{'attachment-msg-right' : messege.ownMsg, 'attachment-msg-left' : !messege.ownMsg}" ng-if="(messege.dwimgsrc !== 'app/images/spin.gif')" ng-show="messege.showme">
                                  <span class="decs-text"><b>File :</b> {{ messege.filename}}</span>
                                  <span class="decs-text"><b>Size :</b> {{messege.size}}</span>
                                  <span class="decs-text">
                                    <a id ="{{messege.dwid}}" class="decs-text" ng-show="messege.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href ><i class="fa fa-download dw-icon"></i> <i>Click here to download</i></a>
                                  <a id ="{{messege.dwid}}" class="decs-text" ng-show="!messege.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href ><i>Click here to download</i> <i class="fa fa-download dw-icon"></i></a>
                                  <a id ="{{messege.dwid}}A" class="decs-text hidden-link" href="{{ messege.serverfilename }}"  download="{{ messege.serverfilename }}"><i>Hidden Link</i></a>  
                                  </span>
                                </div>
                              </div>
                            </div> <!-- Image File Close -->


                            <!-- Audio File Open -->
                            <div ng-class="{'filename' : true, 'chat-msg' : true}" ng-show="messege.isMusicFile">
                              <div ng-class="{'attachment-icon-right' : messege.ownMsg, 'attachment-icon-left' : !messege.ownMsg}">
                                <a href ng-click="openClickMusic(messege)">
                                <img id="{{messege.dwid}}" width="45" height="45" ng-src="{{messege.dwimgsrc}}" alt="Music File" title="play"></a>
                              </div>
                              <div ng-class="{'attachment-msg-right' : messege.ownMsg, 'attachment-msg-left' : !messege.ownMsg}">
                                <span class="decs-text" ng-show="messege.showme"><b>File :</b> {{ messege.filename}}</span>
                                <span class="decs-text" ng-show="messege.showme"><b>Size :</b> {{messege.size}}</span>
                                <span class="decs-text" ng-show="messege.showme"><a id ="{{messege.dwid}}" class="decs-text" ng-show="messege.ownMsg" onclick="return angular.element(this).scope().downloadMusic(event,this)" href ><i class="fa fa-download dw-icon"></i> <i>Click here to download</i></a>
                                <a id ="{{messege.dwid}}" class="decs-text" ng-show="!messege.ownMsg" onclick="return angular.element(this).scope().downloadMusic(event,this)" href ><i>Click here to download</i> <i class="fa fa-download dw-icon"></i></a>
                                <a id ="{{messege.dwid}}A" class="decs-text hidden-link" href="{{ messege.serverfilename }}"  download="{{ messege.serverfilename }}"><i>Hidden Link</i></a></span>
                              </div>
                            </div><!-- Audio File Close -->

                            <!-- Doc File Open -->
                            <div ng-class="{'filename' : true, 'chat-msg' : true}" ng-show="messege.isPDFFile">
                              <div ng-class="{'attachment-icon-right' : messege.ownMsg, 'attachment-icon-left' : !messege.ownMsg}">
                                <a href ng-click="openClickPDF(messege)">
                                <img id="{{messege.dwid}}" width="45" height="45" ng-src="{{messege.dwimgsrc}}" alt="Document"></a>
                              </div>
                              <div ng-class="{'attachment-msg-right' : messege.ownMsg, 'attachment-msg-left' : !messege.ownMsg}">
                                <span class="decs-text" ng-show="messege.showme"><b>File :</b> {{ messege.filename}}</span>
                                <span class="decs-text" ng-show="messege.showme"><b>Size :</b> {{messege.size}}</span>
                                <span class="decs-text" ng-show="messege.showme"><a id ="{{messege.dwid}}" class="decs-text" ng-show="messege.ownMsg"  onclick="return angular.element(this).scope().downloadPDF(event,this)" href><i class="fa fa-download dw-icon"></i> <i>Click here to download</i></a>
                                <a id ="{{messege.dwid}}" class="decs-text" ng-show="!messege.ownMsg"  onclick="return angular.element(this).scope().downloadPDF(event,this)" href><i>Click here to download</i> <i class="fa fa-download dw-icon"></i></a>
                                <a id ="{{messege.dwid}}A" class="decs-text hidden-link" href="{{ messege.serverfilename }}"  download="{{ messege.serverfilename }}"><i>Hidden Link</i></a>  
                                </span>
                              </div>
                            </div><!-- Doc file Close -->
                          </div><!-- /.attachment -->
                      </div><!-- /.item-->
                    </div><!-- /.direct-chat-text -->
                  </div><!-- /.direct-chat-msg -->
                </div><!--/.direct-chat-messages-->

                <div id="slidememberlist" class="slideout_inner">
                    <!-- Contacts are loaded here -->
                    <div>
                    <div class="direct-chat-messages ol-members">
                      <ul class='contacts-list'>
                        <li ng-repeat="user in users">
                          <a href>
                            <img class='contacts-list-img' ng-src='{{user.userAvatar}}'/>
                            <div class='contacts-list-info'>
                                <span class="ol-memeber-name" style="line-height:2.6; padding:5px; font-weight : 600; color : #333;">{{ user.username }}</span>
                            </div><!-- /.contacts-list-info -->
                          </a>
                        </li><!-- End Contact Item -->
                      </ul><!-- /.contatcts-list -->
                    </div><!--/.direct-chat-messages-->
                  </div>
                </div>

                <div class="chat-box"></div>
              </div><!-- /.box-body -->
              <div class="box-footer">
			  
				<div class="meme-selector" ng-controller="chatRoomCtrl">
				<div class="meme-search-bar">
					<div class="input-group">
						<input type="text" 
							   class="form-control" 
							   placeholder="搜索表情包..." 
							   ng-model="memeSearchText"
							   ng-change="memeSearchText = memeSearchText">
						<span class="input-group-btn" ng-show="memeSearchText">
							<button class="btn btn-default" type="button" ng-click="clearMemeSearch()">
								<i class="fa fa-times"></i>
							</button>
						</span>
					</div>
				</div>
				
				<div class="meme-categories">
					<button class="meme-category-btn gif-tab" 
							ng-class="{'active': showGifTab}"
							ng-click="toggleGifTab(!showGifTab); toggleFavoritesView(false)">
						<span>GIF</span>
					</button>
					<button class="meme-category-btn" 
							ng-class="{'active': showFavoritesOnly}"
							ng-click="toggleFavoritesView(true); toggleGifTab(false)">
						<span>⭐</span>
						<span class="category-name">收藏</span>
						<span class="favorites-count" ng-show="favorites.length > 0">({{favorites.length}})</span>
					</button>
					
					<button class="meme-category-btn" 
							ng-repeat="cat in memeCategories"
							ng-class="{'active': !showFavoritesOnly && !showGifTab && selectedMemeCategory === cat.id}"
							ng-click="toggleFavoritesView(false); toggleGifTab(false); selectMemeCategory(cat.id)">
						<span>{{cat.icon}}</span>
						<span class="category-name">{{cat.name}}</span>
					</button>
				</div>
				
				<!-- GIF 搜索和显示 -->
				<div class="gif-panel" ng-show="showGifTab">
					<div class="gif-search-bar">
						<div class="input-group">
							<input type="text" 
								   class="form-control" 
								   placeholder="搜索 GIF..." 
								   ng-model="gifSearchText"
								   ng-keyup="$event.keyCode === 13 && searchGifs()">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="searchGifs()">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</div>
					
					<div class="gif-gallery">
						<div class="gif-grid" ng-show="gifs.length > 0">
							<div class="gif-item" 
								 ng-repeat="gif in gifs track by gif.id"
								 ng-click="sendGif(gif)"
								 title="{{gif.title}}">
								<img ng-src="{{gif.preview || gif.url}}" 
									 alt="{{gif.title}}"
									 loading="lazy">
							</div>
						</div>
						
						<div class="gif-loading" ng-show="isLoadingGifs">
							<i class="fa fa-spinner fa-spin"></i>
							<span>加载中...</span>
						</div>
						
						<div class="gif-empty" ng-show="!isLoadingGifs && gifs.length === 0">
							<i class="fa fa-search"></i>
							<p ng-if="gifSearchText">未找到匹配的 GIF</p>
							<p ng-if="!gifSearchText">搜索或浏览热门 GIF</p>
						</div>
						
						<div class="gif-load-more" ng-show="hasMoreGifs && gifs.length > 0">
							<button class="btn btn-default btn-sm" ng-click="loadMoreGifs()" ng-disabled="isLoadingGifs">
								<span ng-show="isLoadingGifs"><i class="fa fa-spinner fa-spin"></i> 加载中...</span>
								<span ng-show="!isLoadingGifs">加载更多</span>
							</button>
						</div>
					</div>
				</div>
				
				<div class="meme-gallery" ng-show="!showGifTab">
					<div class="meme-grid">
						<div class="meme-item" 
							 ng-repeat="meme in getFilteredMemes() track by meme.id"
							 ng-click="enviarMEME(meme)"
							 title="{{meme.name}}">
							<img ng-src="{{meme.url}}" alt="{{meme.name}}">
							<button class="meme-favorite-btn"
									ng-click="toggleFavorite($event, meme)"
									ng-class="{'is-favorite': isFavorite(meme)}"
									title="{{isFavorite(meme) ? '取消收藏' : '添加收藏'}}">
								<i class="fa" ng-class="isFavorite(meme) ? 'fa-star' : 'fa-star-o'"></i>
							</button>
						</div>
					</div>
					<div class="meme-empty" ng-show="getFilteredMemes().length === 0">
						<i class="fa" ng-class="showFavoritesOnly ? 'fa-star-o' : 'fa-search'"></i>
						<p ng-if="showFavoritesOnly">暂无收藏的表情包</p>
						<p ng-if="!showFavoritesOnly">未找到匹配的表情包</p>
					</div>
				</div>
			</div>
				
                <div class="box-tools pull-right desktop">
                  <!-- Any File Select Button -->
                  <button class="btn btn-warning btn-flat" data-widget="" ngf-select ng-model="Files"><i class="glyphicon glyphicon-paperclip"></i></button>
                  <!-- Export Button -->
                  <button class="btn btn-info btn-flat" ng-click="showExportModal()">
                    <i class="glyphicon glyphicon-download-alt"></i> 导出
                  </button>
                </div>
                <!-- Quote Preview -->
                <div class="quote-preview" ng-show="replyQuote">
                    <div class="quote-header">
                        <span class="quote-author">{{ replyQuote.username }}</span>
                        <button class="quote-close" ng-click="clearReplyQuote()">×</button>
                    </div>
                    <div class="quote-content">
                        {{ replyQuote.content | limitTo:100 }}{{ replyQuote.content.length > 100 ? '...' : '' }}
                    </div>
                </div>
                <!-- Mention Dropdown -->
                <div class="mention-dropdown" ng-show="showMentionDropdown">
                    <div class="mention-header">选择要提及的用户</div>
                    <div class="mention-list">
                        <div class="mention-item" 
                             ng-repeat="user in filteredMentionUsers"
                             ng-click="selectMentionUser(user)"
                             ng-class="{'mention-active': selectedMentionIndex === $index}">
                            <img class="mention-avatar" ng-src="{{ user.userAvatar }}">
                            <span class="mention-name">{{ user.username }}</span>
                        </div>
                    </div>
                    <div class="mention-empty" ng-show="filteredMentionUsers.length === 0">
                        无在线用户
                    </div>
                </div>
                <!-- 错误提示 -->
                <div class="alert alert-danger" ng-show="messageError" style="margin-bottom: 10px;">
                  <strong>错误：</strong> {{messageError}}
                  <button type="button" class="close" ng-click="messageError = ''">&times;</button>
                </div>
                
                <!-- Text message  -->
                <form action="" method="post">
                  <div class="input-group" style="position: relative;">
                    <input id="inputText" type="text" name="message" placeholder="{{'Type-Message'|translate}} ..." ng-class="{'form-control': true, 'has-error':isMsgBoxEmpty}" ng-model="chatMsg" ng-change="onInputChange(); isMsgBoxEmpty=false" ng-enter="sendMsg()" ng-focus="setFocus" focus-me="setFocus"/>
                   
					<span class="input-group-btn">
						<button type="button" class="btn btn-warning btn-flat" style="margin-left: 4px; margin-right: 4px;" ng-click="sendMeme()">{{'MEME'|translate}}</button>
						<button type="button" class="btn btn-danger burn-btn" ng-class="{'active': burnModeEnabled}" ng-click="toggleBurnMode()" title="{{burnModeEnabled ? '阅后即焚模式 (点击取消)' : '点击启用阅后即焚'}}">🔥</button>
						<button type="button" class="btn btn-warning btn-flat" ng-click="sendMsg()">{{'Send'|translate}}</button>
                    </span>
                  </div>
                </form>
				 
              </div><!-- /.box-footer-->
              </div><!-- /.box -->
            </div>
            
            <div class="col-sm-3 toggle-contact-list">
              <div class="box box-warning direct-chat direct-chat-warning">  
              <div class="box-header with-border">
                <h3 class="box-title">{{'Online-Members'|translate}}</h3>
              </div><!-- /.box-header -->
              <div id="cajaUsuarios" class="box-body">
                <!-- Contacts are loaded here -->
                <div class="direct-chat-messages ol-members">
                  <ul class='contacts-list'>
                    <li ng-repeat="user in usersRoom">
                      <a href>
                        <img class='contacts-list-img' ng-src='{{user.userAvatar}}'/>
                        <div class='contacts-list-info'>
                            <div id="userNameContact" class="ol-memeber-name" >
                              {{ user.username }}
                              <span ng-if="isUserMuted(user.username)" class="label label-warning" style="margin-left: 5px;">已禁言</span>
                              <span ng-if="user.activo">({{'Activo'|translate}})</span>
                              <span ng-if="!user.activo">({{'Inactivo'|translate}})</span>
                            </div>
                            <div ng-if="user.isWritting" id="estaEscribiendo" >{{'Esta-escribiendo'|translate}}...</div>
                            
                            <!-- 管理按钮 -->
                            <div ng-if="isRoomCreator() && user.username != rootScope.username" style="margin-top: 5px;">
                              <button class="btn btn-xs btn-danger" ng-click="kickUser(user.username)" title="踢出用户">
                                <i class="fa fa-ban"></i> 踢出
                              </button>
                              <button class="btn btn-xs" ng-class="isUserMuted(user.username) ? 'btn-warning' : 'btn-default'" ng-click="isUserMuted(user.username) ? unmuteUser(user.username) : muteUser(user.username)" title="{{isUserMuted(user.username) ? '解禁用户' : '禁言用户'}}">
                                <i class="fa {{isUserMuted(user.username) ? 'fa-volume-up' : 'fa-volume-off'}}"></i> {{isUserMuted(user.username) ? '解禁' : '禁言'}}
                              </button>
                            </div>
                        </div><!-- /.contacts-list-info -->
                        
                      </a>
                    </li><!-- End Contact Item -->
                  </ul><!-- /.contatcts-list -->
				  <!--
				  <div class="box-header with-border">
					<h4 class="margin-title-room box-title">Global</h4>
				  </div>
				  <ul class='contacts-list'>
                    <li ng-repeat="user in users">
                      <a href>
                        <img class='contacts-list-img' ng-src='{{user.userAvatar}}'/>
                        <div class='contacts-list-info'>
                            <span class="ol-memeber-name" style="line-height:2.6; padding:5px; font-weight : 600; color : #333;">{{ user.username }}</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>--><!--/.direct-chat-messages-->
				
              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </div>       
      </div>
    </section><!-- /.content -->
  </div><!-- /.container -->
</div><!-- /.content-wrapper -->

<!-- 导入导出模态框 -->
<div ng-include="'app/views/exportModal.html'"></div>


